Client/Connected Services/ComparatorReference/ComparatorService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/ComparatorService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Server" />
  <xs:import schemaLocation="http://localhost:8000/ComparatorService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="JoinToServerCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProcessorInfo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JoinToServerCommand" nillable="true" type="tns:JoinToServerCommand" />
  <xs:complexType name="ServerOptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientUUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MinWordsInSentence" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerOptions" nillable="true" type="tns:ServerOptions" />
  <xs:complexType name="FilesToCompare">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComparedBy" nillable="true" type="tns:Worker" />
      <xs:element minOccurs="0" name="ComparingResult" nillable="true" type="tns:ComparingResult" />
      <xs:element minOccurs="0" name="ComparingResultFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComparingState" type="tns:ComparingState" />
      <xs:element minOccurs="0" name="File1MD5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="File2MD5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FilesToCompare" nillable="true" type="tns:FilesToCompare" />
  <xs:complexType name="Worker">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentComparingPair" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastTime" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="OwnedFiles" nillable="true" type="q1:ArrayOfFileToCompare" />
      <xs:element minOccurs="0" name="Port" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessorInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uuid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Worker" nillable="true" type="tns:Worker" />
  <xs:complexType name="ComparingResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientUUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommonSentences" nillable="true" type="tns:ArrayOfCommonSentence" />
      <xs:element minOccurs="0" name="ComparingTime" type="ser:duration" />
      <xs:element minOccurs="0" name="File1DownloadingTime" type="ser:duration" />
      <xs:element minOccurs="0" name="File2DownloadingTime" type="ser:duration" />
      <xs:element minOccurs="0" name="PairId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PercentOfSimilarityFile1" type="xs:double" />
      <xs:element minOccurs="0" name="PercentOfSimilarityFile2" type="xs:double" />
      <xs:element minOccurs="0" name="SendStartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SendingTime" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComparingResult" nillable="true" type="tns:ComparingResult" />
  <xs:complexType name="ArrayOfCommonSentence">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommonSentence" nillable="true" type="tns:CommonSentence" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommonSentence" nillable="true" type="tns:ArrayOfCommonSentence" />
  <xs:complexType name="CommonSentence">
    <xs:sequence>
      <xs:element minOccurs="0" name="File1" nillable="true" type="tns:SentenceIndexes" />
      <xs:element minOccurs="0" name="File2" nillable="true" type="tns:SentenceIndexes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonSentence" nillable="true" type="tns:CommonSentence" />
  <xs:complexType name="SentenceIndexes">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstWordIndex" type="xs:int" />
      <xs:element minOccurs="0" name="LastWordIndexIndex" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SentenceIndexes" nillable="true" type="tns:SentenceIndexes" />
  <xs:simpleType name="ComparingState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NEW" />
      <xs:enumeration value="IN_PROGRESS" />
      <xs:enumeration value="COMPARED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ComparingState" nillable="true" type="tns:ComparingState" />
</xs:schema>