Client/Connected Services/ComparatorReference/ComparatorService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FilesToCompare">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComparingResult" nillable="true" type="tns:ComparingResult" />
      <xs:element minOccurs="0" name="ComparingState" type="tns:ComparingState" />
      <xs:element minOccurs="0" name="File1MD5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="File2MD5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FilesToCompare" nillable="true" type="tns:FilesToCompare" />
  <xs:complexType name="ComparingResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommonSenteces" nillable="true" type="tns:ArrayOfCommonSentence" />
      <xs:element minOccurs="0" name="PairId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComparingResult" nillable="true" type="tns:ComparingResult" />
  <xs:complexType name="ArrayOfCommonSentence">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommonSentence" nillable="true" type="tns:CommonSentence" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommonSentence" nillable="true" type="tns:ArrayOfCommonSentence" />
  <xs:complexType name="CommonSentence">
    <xs:sequence>
      <xs:element minOccurs="0" name="File1" nillable="true" type="tns:SentenceIndexes" />
      <xs:element minOccurs="0" name="File2" nillable="true" type="tns:SentenceIndexes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonSentence" nillable="true" type="tns:CommonSentence" />
  <xs:complexType name="SentenceIndexes">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstWordIndex" type="xs:int" />
      <xs:element minOccurs="0" name="LastWordIndexIndex" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SentenceIndexes" nillable="true" type="tns:SentenceIndexes" />
  <xs:simpleType name="ComparingState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NEW" />
      <xs:enumeration value="IN_PROGRESS" />
      <xs:enumeration value="COMPARED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ComparingState" nillable="true" type="tns:ComparingState" />
</xs:schema>