Client/Connected Services/ComparatorReference/ComparatorService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FilesToCompare">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComparingResult" nillable="true" type="tns:ComparingResult" />
      <xs:element minOccurs="0" name="ComparingState" type="tns:ComparingState" />
      <xs:element minOccurs="0" name="File1MD5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="File2MD5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FilesToCompare" nillable="true" type="tns:FilesToCompare" />
  <xs:complexType name="ComparingResult">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ComparingResult" nillable="true" type="tns:ComparingResult" />
  <xs:simpleType name="ComparingState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NEW" />
      <xs:enumeration value="IN_PROGESS" />
      <xs:enumeration value="COMPARED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ComparingState" nillable="true" type="tns:ComparingState" />
</xs:schema>